.gradle/
build/
run/
logs/
*.log
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
.idea/
*.iml
fabric/.gradle/
fabric/build/
fabric/run/
neoforge/.gradle/
neoforge/build/
neoforge/run/
dist/
/assets/
net/
